.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // .header__body
    font-family: $font2;
    z-index: 100;

    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background: rgba(24, 24, 24, 0.4);
    max-height: 116px;
    height: 100%;

    &__body {
        display: flex;
        padding: 24px 0 14px;
        box-sizing: border-box;
    }

    &__mobile-btn {
        display: none;
    }

    // .header__title

    &__title {}


    // .header__nav

    &__nav {
        margin: 0 auto;
        display: flex;
        align-items: center;

        ul {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            ul {
                visibility: visible;
                opacity: 1;
                position: absolute;
                top: 100%;
                left: -10px;
                display: flex;
                flex-direction: column;
                backdrop-filter: blur(5px);
                background: rgba(24, 24, 24, 0.4);
                border: 1px solid #4b4b4b;
                border-radius: 10px;
                width: 180px;
                box-sizing: border-box;
                opacity: 0;
                visibility: hidden;
                transition: .5s ease;

                li {
                    margin: 0;
                    width: 100%;

                    a {
                        width: 100%;
                        padding: 10px 20px;
                        display: block;
                        box-sizing: border-box;
                        transition: .5s ease;

                        &:hover {
                            background-color: #0000003f;
                        }
                    }

                }
            }

            li {
                margin-right: 30px;
                position: relative;
                padding-bottom: 10px;

                &.with-sublist {
                    padding-right: 20px;
                    box-sizing: border-box;

                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: calc(50% - 8px);
                        border: 6px solid transparent;
                        border-top: 7px solid #fff;
                    }

                    &:hover {

                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &::before {}

                a {
                    text-decoration: none;
                    color: #fff;
                    letter-spacing: 1.5px;
                    // text-transform: uppercase;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .header {
        height: auto;
        max-height: none;

        &__body {
            display: flex;
            justify-content: center;
            padding: 12px 0;
        }

        &__title {
            margin-right: auto;
            margin-left: auto;
            transform: translateX(25%);
        }

        &__nav {
            display: none;
        }

        &__mobile-btn {
            display: flex;
            align-items: center;

            .burger-btn {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: none;
                background: rgba(53, 53, 53, 0.5);

                img {
                    display: block;
                }
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: -50px;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 40px 30px;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    &.active {
        opacity: 1;
        top: 0;
        visibility: visible;
    }
    .close-mobile {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        &::before {
            content: '';
            background-color: #fff;
            width: calc(100% - 10px);
            height: 2px;
            top: calc(50% - 1px);
            transform: rotate(45deg);
            left: 5px;
            position: absolute;
        }
        &::after {
            content: '';
            background-color: #fff;
            width: calc(100% - 10px);
            height: 2px;
            top: calc(50% - 1px);
            transform: rotate(-45deg);
            left: 5px;
            position: absolute;
        }
    }
}

.mobile {
    // .mobile__title

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        a {
            width: fit-content;
            padding: 5px 40px;
            display: block;
            text-decoration: none;
            img {
                display: block;
            }
        }
    }

    // .mobile__nav

    &__nav {
        overflow: scroll;
        max-height: calc(100vh - 200px);
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #ffffff50;
                &.with-sublist {
                    >a {
                        opacity: .75;
                    }
                }
                ul {
                    padding-top: 10px;
                    margin-bottom: 0;
                    li {
                        border-bottom: 0;
                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
                
                a {
                   color: #fff; 
                   text-decoration: none;
                   display: block;
                   text-align: center;
                   font-family: $font1;
                   font-weight: 500;
                   font-size: 18px;
                    
                }
            }
        }
    }

    .mobile-menu {}

    
}